.sign__header {
  margin: 70px auto 40px;
  display: flex;
  flex-flow: column;
  row-gap: 40px;
  width: 396px;
  align-items:flex-start;
}

.sign__logo {
  width: 38px;
  height: 38px;
}

.sign__title {
  margin: 0px;
  padding: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.sign__body {
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  width: 396px;
}

.sign__form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  row-gap: 20px;
}

.sign__input-block {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
}

.sign__label {
  margin: 0 0 10px;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #A0A0A0;

}

.sign__input {
  margin: 0;
  padding: 15px;
  width: 100%;
  background-color: #F9F9F9;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border-radius: 8px;
  border: none;
  -webkit-appearance: none;
  outline: none;
}

.sign__input:focus {
  box-shadow: 0 0 0 3px rgba(52, 86, 243, 0.25);
}

.sign__input-error {
  visibility: hidden;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF3055;
}

.sign__text {
  margin: 0;
  padding: 0;
}

.sign__link {
  margin: 0;
  padding: 0;
  color: #3456F3;
}

.sign__button {
  margin: 69px 0 0;
  padding: 0;
  width: 100%;
  height: 45px;
  border: 0;
  background: #3456F3;
  border-radius: 3px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
}

.sign__button_sign-in {
  margin: 157px 0 0;
}

.sign__signature {
  margin: 16px 0 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #A0A0A0;
}

@media screen and (max-width: 1023px) {
  .sign__header {
    margin: 232px auto 40px;
  }

}

@media screen and (max-width: 500px) {
  .sign__header {
    margin: 56px auto 80px;
    row-gap: 50px;
    width: 260px;
    align-items: center;
  }

  .sign__body {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    width: 260px;
  }

  .sign__button {
    margin: 157px 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .sign__button_sign-in {
    margin: 245px 0 0;
  }

  .sign__signature {
    margin: 14px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
}