.project {
  margin: 0;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
}

.project__header {
  margin: 110px 0 0;
}

.project__list {
  margin: 70px 0 0;
  padding: 0;
  display: flex;
  column-gap: 40px
}

.project__element {
  display: flex;
  flex-flow: column;
  row-gap: 26px;
  align-items: flex-start;
}

.project__presentation-header {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  text-align: left;

}

.project__presentation-text {
  margin: 0;
  padding: 0;
  max-width: 550px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.project__chart {
  margin: 110px 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  row-gap: 14px;
}

.project__chart-element {
  margin: 0;
  padding: 0;
  height: 36px;
  background-color: #2BE080;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__chart-element_color_gray {
  background-color: #F2F2F2;
}

.project__chart-sign {
  margin: 0;
  padding: 0;
  color: #A0A0A0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}


@media screen and (max-width: 1023px) {
  .project {
    padding: 0 50px;
  }

  .project__header {
    margin: 90px 0 0;
  }

  .project__list {
    column-gap: 30px;
  }

  .project__element {
    row-gap: 22px;
  }

  .project__chart {
    margin: 93px 0 90px;
  }

  .project__presentation-text {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 475px) {

  .project__list {
    flex-flow: column;
    row-gap: 56px;
  }
}

