.search {
  margin: 70px 70px 10px;
  padding: 0 0 43px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__input-container {
  margin: 0;
  padding: 8.5px;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  align-items: center;
}

.search__input-container:focus-within {
  box-shadow: 0 0 0 3px rgba(52, 86, 243, 0.25);
}

.search__input {
  margin: 0 0 0 15px;
  padding: 0;
  width: 88%;
  max-height: 22px;
  background-color: transparent;
  font-size: 14px;
  line-height: 1.21;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  border: none;
  -webkit-appearance: none;
  outline: none;
}

.search__button {
  margin: 0;
  padding: 0;
  width: 100px;
  height: 52px;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #3456F3;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #FFF;
}

.search__switcher {
  margin: 27px 0 0 0;
  padding: 0;
  display: flex;
}

@media screen and (max-width: 1023px) {
  .search {
    margin: 70px 30px 10px;
    padding: 0 0 51px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
  }

  .search__input {
    width: 78%;
  }
}

@media screen and (max-width: 425px) {
  .search {
    margin: 70px 14px 10px;
    height: 72px;
    padding: 0 0 93px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.2);
  }

  .search__input-container {
    height: 56px;
    padding: 5.5px;
  }

  .search__input {
    margin: 0 0 0 6.5px;
    width: 60%;
    font-size: 16px;
    line-height: 16px;
  }

  .search__button {
    width: 80px;
    height: 44px;
  }
}