.me {
  margin: 0;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
}

.me__header {
  margin: 110px 0 0;
}

.me__info {
  margin: 66px 0 0;
  display: flex;
  justify-content: space-between;
  column-gap: 180px;
}

.me__text-block {
  display: flex;
  flex-flow: column;
  max-width: 600px;
  align-items: flex-start;
}

.me__name {
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.me__job {
  margin: 18px 0 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.me__small {
  margin: 26px 0 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: start;
}

.me__github-link {
  margin: 99px 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.me__photo {
  width: 270px;
  height: 327px;
}

@media screen and (max-width: 1023px) {
  .me {
    padding: 0 50px;
  }

  .me__header {
    margin: 90px 0 0;
  }

  .me__info {
    column-gap: 49px;
  }

  .me__name {
    font-size: 40px;
    line-height: 40px;
  }

  .me__job {
    font-size: 12px;
    line-height: 18px;
  }

  .me__small {
    margin: 20px 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .me__github-link {
    margin: 87px 0 0;
  }

  .me__photo {
    width: 255px;
    height: 307px;
  }
}